.tm-content {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* Down Arrow */
.tm-content:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #ebf3f5 transparent transparent transparent;
  position: relative;
  top: 39px;
  right: 500px;
}
/* Picture, Name and Title */
.tm-pic {
  margin-left: 25px;
  margin-bottom: 80px;
}
/* Testimonial Picture */
.tm-pic .photo {
  background-color: #ccc;
  border-radius: 100px;
}
.photo {
  position: relative;
  width: 60px;
  height: 60px;
  float: left;

  background-color: #ccc;
  border-radius: 100px;
}
/* Name and Title Paragraph*/
.tm-pic p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
  line-height: 30px;
}
/* Name */
.tm-pic p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
/* Title */
.tm-pic p:nth-child(3) {
  font-size: 14px;
  color: #777;
}
